.ingredientsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.ingredientsHeader {
    padding-top: 40px;
    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
}