.inactiveLink {
    composes: text from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    transition: color linear 0.3s;
    cursor: pointer;
    color: #8585AD;
}

.inactiveLink:hover {
    color: white;
}

.activeLink {
    composes: inactiveLink;
    color: white;
}