.overlay {
    display: flex;
    justify-content: center;
    background-color: #1C1C21;
    width: 100%;
    min-width: 1400px;
}

.header {
    composes: pt-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    composes: pb-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.leftButtons {
    display: flex;
    gap: 8px;
    justify-self: center;
}

.rightButtons {
    display: flex;
    justify-self: center;
}

.button {
    border-radius: 35px;
    display: flex;
    align-items : center;
    padding: 5px 20px;
    gap: 8px;
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

.button:hover {
    color: white;
    transition: color linear 0.3s;
}

.inactiveLink {
    composes: text text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    transition: color linear 0.3s;
    cursor: pointer;
    color: #8585AD;
}

.inactiveLink:hover {
    color: white;
}

.activeLink {
    composes: inactiveLink;
    color: white;
}